@charset "utf-8";

header.CabeceraPagina {
    background-color:rgb(153,204,102);
    border:double;
}



#principal {
    background-color:rgb(153,204,153);
    width:1000px;
    margin: auto;
}

#barra {
    background-color: #ff6600;
    height:50px
}

ul li:nth-child(1){
    background:#ffffff;
}

ul li:nth-child(2){
    background:#cccccc;
}

ul li:nth-child(3){
    background:#999999;
}

header:not(#CabeceraPagina){
    background-color:rgba(255,255,255,0,3);
}

/* Vinculos */

a:link{
    color:green;
}

a:visited{
    color:blue;
}

a:hover{
    color:red;
}

a:active{
    color:yellow;
}

/*Articulos*/
article p:nth-of-type(odd){
    background-color: rgba(250,250,250,.7);
}
article p:nth-of-type(even){
    background-color: rgba(250,250,250,.5);
}

#formulario{
    background-image: url("../imagenes/Teclas.jpg");
    background-repeat: no-repeat;
}

#formulario p, fieldset {
    background-color: rgba(250,250,250,.5);
}


#sobreMusica img{
    margin: 10px; 
    float:left;
}

/* articulos */

#blog{
    margin:0px,5px,5px,10px;
    width: 760px;
    background-color: rgba(250,250,250,.7);
    float:left;
}

#posts{
    margin:0px,10px,5px,5px;
    width: 210px;
    height: 500;
    background-color: rgba(250,250,250,.7);
    float:right;
}


#barra ul li{
    display: inline;
    margin: 10px;
    background-color:#e4e4e4;
    padding: 5px,5px,5px,5px;
}

.CabeceraPagina img {
    width: 994px;
}

footer{
background-color: rgba(0,80,250,.7);
margin-top: 5px;
width: 1000px;
height: 80 px;
float:left;
}

#sobreMusica img{
    margin: 10px; 
    float:left;

}

#sobreMusica aside {
   width: 770px;
   height: 226px;
   margin: 10px 10px 10px 0px;
   float:right;   
}